@page Section1 {
    size: 8.5in 5.5in;
    margin: 15mm 15mm 15mm 15mm;
}

div.SectionPrint {
    page: Section1;
}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

div[class*=col-] {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

    div[class*=col-]:first-child {
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
/*@page {
    size: auto; auto is the initial value 
    margin: 0mm;  this affects the margin in the printer settings 
}*/
