@*KartuStoksGudang.Informasi*@

@{
    ViewBag.Title = "Informasi";
}

<h2>Informasi</h2>
<h3>@ViewBag.Info</h3>
<div>
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.GudangBahanBakuID, GudangID=ViewBag.GudangID })
</div>

