@{
    ViewBag.Title = "PasswordPenerimaan";
}

<h2>Password Penerimaan Bahan Baku</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @*@Html.LabelFor(model => model.FirstOrDefault().Posting , htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-12">
            Password:
            <input type="password" name="Password" value="" class="form-control" /><br />
            @*@Html.EditorFor(model => model.FirstOrDefault().jpDeptA.TglProduksi , new { @class = "form-control" })*@
            <input type="submit" value="Terima" class="btn btn-default" />
        </div>
    </div>
}
<br />
